{% extends "core/master.html" %}

{% load static %}

{% block "body_class" %}index{% endblock %}

{% block "contents" %}
    <div id="main">
        <div id="callToAction">
            <img src="{% static "images/assets/logo_header.png" %}" alt="logo" class="logo"/>
            <h2>Pizza is for everyone</h2>
            <h3>Share your pie</h3>
            <div class="make-pizza-button">
                <a href="{% url "pizza:create" %}">Make a pizza!</a>
            </div>
        </div>
        <div id="more">
            <h2>Recent Pizzas</h2>
            <ul class="pizza-boxes">
                {% for pizza in pizzas %}
                    <li>
                        <a href="{% url "pizza:show" pk=pizza.id %}">
                            <img src="{{ pizza.image.url }}" alt="{{ pizza.name }}">
                            <div class="name">{{ pizza.name }}</div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
