{% extends 'djangounchained/master.html' %}

{% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style type="text/css">
        .container {
            width: auto;
            max-width: 680px;
            padding: 0 15px;
        }
    </style>
{% endblock styles %}

{% block root_content %}
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <p class="lead">
                <i class="fa fa-envelope" style="font-size:36px"></i>
                An email has been sent with instructions to reset your password.
            </p>
        </div>
    </main>
{% endblock root_content %}
