{% extends 'blog/base.html' %}

{% block content %}
    <form class="form-inline" action="." method="get" style="margin-bottom: 1em">
        <div class="form-group">
            <label for="per-page">Per Page</label>&nbsp;
            <select name="paginate_by" class="form-control" id="per-page">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
        </div>
    </form>
    {% for post in posts %}
        <article class="media content-section">
            {% if post.author.profile.image %}
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="profile image">
            {% endif %}
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="javascript:void(0)">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-info mb-4">First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mb-4">
                <span aria-hidden="true">&laquo;</span> Previous
            </a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4">
                Next <span aria-hidden="true">&raquo;</span>
            </a>
            <a href="?page={{ paginator.num_pages }}" class="btn btn-outline-info mb-4">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}
