{% extends 'blog/base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.name }}">
                        {{ field.label }}{% if field.field.required %}*{% endif %}
                    </label>
                    {% render_field field id=field.name class="form-control" %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-primary">Submit</button>
            {% if object.id %}
                <a href="{% url 'blog:post_detail' object.id %}" class="btn btn-outline-warning">Cancel</a>
            {% endif %}
        </form>
    </div>
{% endblock %}
