.navbar {
    margin-bottom: 1em;
}

a.word-wrap {
    word-wrap: break-word;
}

img.reduce-width {
    width: 50%;
}

.btn-h1-spacing {
    margin-top: 18px;
}

.form-spacing-top {
    margin-top: 30px;
}

.submit-btn {
    margin-top: 20px;
}

.glyphicon-heart {
    color: red;
}

.comment {
    margin-bottom: 45px;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.author-name {
    float: left;
    margin-left: 15px;
}

.author-name>h4 {
    margin: 5px 0;

}

.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}

.comment-content {
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
}

.comments-title {
    margin-bottom:45px;
}

.comments-title>span {
    margin-right: 15px;
}

#backend-comments {
    margin-top: 50px;
}

.django {
    color: #194B33;
}
